<section class="h-screen flex items-center justify-center bg-cover bg-center text-white" style="background-image: url('/assets/images/countdown-background.jpg')">
  <div class="container mx-auto text-center">
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-center mb-16 tracking-widest font-silk font-medium">COMIENZA LA CUENTA REGRESIVA</h2>
    
    <div class="grid grid-cols-2 md:grid-cols-4 max-w-4xl mx-auto gap-4 md:gap-6 px-4">
      <div class="p-4 md:p-6">
        <div class="text-6xl md:text-7xl lg:text-8xl mb-2 font-silk font-semibold">{{countdown.days}}</div>
        <div class="uppercase tracking-widest text-sm font-silk font-medium">DÍAS</div>
      </div>
      
      <div class="p-4 md:p-6">
        <div class="text-6xl md:text-7xl lg:text-8xl mb-2 font-silk font-semibold">{{countdown.hours}}</div>
        <div class="uppercase tracking-widest text-sm font-silk font-medium">HORAS</div>
      </div>
      
      <div class="p-4 md:p-6">
        <div class="text-6xl md:text-7xl lg:text-8xl mb-2 font-silk font-semibold">{{countdown.minutes}}</div>
        <div class="uppercase tracking-widest text-sm font-silk font-medium">MINUTOS</div>
      </div>
      
      <div class="p-4 md:p-6">
        <div class="text-6xl md:text-7xl lg:text-8xl mb-2 font-silk font-semibold">{{countdown.seconds}}</div>
        <div class="uppercase tracking-widest text-sm font-silk font-medium">SEGUNDOS</div>
      </div>
    </div>
  </div>
</section> 